#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("17454.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}